name: Compile virion

# Controls when the action will run.
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  # run once a week
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch: 
jobs:
  GenBank:
    runs-on: ubuntu-latest
    container: colebrookson/virion:latest 
    steps:
    - uses: actions/checkout@v3
    - uses: julia-actions/setup-julia@v1 
      with:
        version: 1.7
    - name: Download GenBank 
      run: |
        Rscript -e 'source("Code/02_1a_Download GenBank.R")'
    - name: Digest GenBank
      run: |
        Rscript -e 'source("Code/02_1b_Digest GenBank.R")'
    - name: Format GenBank
      run: |
        Rscript -e 'source("Code/02_1c_Format GenBank.R")'
    - name: Save artifacts
      uses: actions/upload-artifact@v2
      with:
        name: GenBankFormatted
        path: Intermediate/Formatted/GenbankFormatted.csv.gz
  Globi:
    runs-on: ubuntu-latest
    container: colebrookson/virion:latest
    steps:
    - uses: actions/checkout@v3
    - name: Download Globi
      run: |
        Rscript -e 'source("Code/02_3a_Download GLOBI.R")'
    - name: Digest Globi
      run: |
        Rscript -e 'source("Code/02_3b_Digest GLOBI.R")'
    - name: Format Globi
      run: |
        Rscript -e 'source("Code/02_3c_Format GLOBI.R")'
    - name: Save artifacts
      uses: actions/upload-artifact@v2
      with:
        name: GlobiFormatted
        path: Intermediate/Formatted/GLOBIFormatted.csv
  Finish:
    runs-on: ubuntu-latest
    container: colebrookson/virion:latest
    needs: [GenBank, Globi]
    steps:
    - uses: actions/checkout@v3
    - name: Get GenBank
      uses: actions/download-artifact@v2
      with:
        name: GenBankFormatted
    - name: Get Globi
      uses: actions/download-artifact@v2
      with:
        name: GlobiFormatted
    - name: Merge clean files
      run: |
        Rscript -e 'source("Code/03_Merge clean files.R")'
    - name: High level checks
      run: |
        Rscript -e 'source("Code/04_High level VIRION checks.R")'
    - name: Dissolve VIRION
      run: |
        Rscript -e 'source("Code/05_Dissolve VIRION.R")'
    - name: Save the artifacts
      uses: actions/upload-artifact@v2
      with:
        name: VIRION
        path: Virion
    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@4.1.7
      with:
        branch: gh-pages # The branch the action should deploy to.
        folder: Virion # The folder the action should deploy.
